dist: trusty
language: node_js
node_js:
  - lts/*
branches:
  only:
    - gh-pages
env:
  global:
    - URL="https://w3c.github.io/payment-method-basic-card/echidna-manifest.txt"
    - DECISION="https://www.w3.org/2016/04/14-wpwg-minutes#item02"
    - secure: R+VoisbiBbaUhrLWDiB5NrPhHeleR1zVAA4NanVsJcJx8gPfu5OpWApXnoGRXsVUuSUbNLaorp6Cgh6TTup8PkEm4hI1D5Y4nw8+WAHZf38DgDcHQBP9pIPRTowXOcf5j96qrtmPcZSo9etmvzQTHtDy7LJmhQ1Aq7DF7tyInROl6lFrqbmLbvHXFA2tsIFfNmAf9TO/MObk34pIOdXqmqnE9kFg6UZk7dUi6Vrv91lR44MmUo33XpsJ5mP5h7sN5TsoNpjOcNxFUJikZzEa0uhnmnpdnErc03Va6CAEiAIpqxDt90POcL5u3MY9oCgBjizd108VBb+xsvwy2sja+oulsG9+oSBVXgt1XHaztjnpUbjfYHUzdkFC7tQJzwJSC9zR82PN7/R0dzx+SDulfK7vA4K/GK1eZWrVLNhS/Lk1+PyCkQzAjoYY/CLxUUtlhvQjPh6yRWlY+QDPMd39eusWrOkpLTNTHaadINW6Qo3jHtp6aPlzB/jWMrkyRB6JvR/+ZByTAFSr5ke0KUogzXWeR2Mx5qmpH25HDNpmHvl0CrCBa1dqBGm9zq2Ub/qbeHFZxmFALT0GATh8IY5yLhQNppi5yooBSAqw9V0n+Qi/Cz2yW4mb7d5+wIAoaTa9xAB14c+jl7LGaGd3BV5EqthRyYCOO6RUSsiOaxTchgs=

install:
  - npm install respec-validator

script:
  - npx respec-validator --gh-token=$GH_TOKEN index.html

cache:
  directories:
    - node_modules # NPM packages

after_success:
  - test $TRAVIS_PULL_REQUEST = false && curl "https://labs.w3.org/echidna/api/request" --data "url=$URL" --data "decision=$DECISION" --data "token=$TOKEN"
